@font-face {
	font-family: 'Optimus';
	src: url('fonts/optimus.eot');
	src: local(Optimus),
		 url('fonts/optimus.woff') format('woff'),
		 url('fonts/optimus.ttf') format('truetype'),
		 url('fonts/optimus.svg#optimusregular') format('svg');
}
#sources {
	display: none;
}
* {
	padding: 2px;
	border: 1px solid black;
}
h3, h4, label {
	text-align: center;
}
input[type=radio], input[type=file] {
	display: none;
}
